* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('https://image.freepik.com/fotos-gratis/smooth-dark-blue-with-black-vignette-studio-bem-use-como-plano-de-fundo-relatorio-de-negocios-digital-modelo-de-site_1258-748.jpg');
    background-size: auto 100vh;
    font-family: 'Roboto Condensed', sans-serif;
    height: 100vh;
    font-size: 12px;
    
}

@media (min-width: 400px) {
    body{
        font-size: 14px;
    }
}
@media (min-width: 600px) {
    body{
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    body{
        font-size: 20px;
    }
}

.perfil{
   position: absolute;
   right: 0;
   margin: auto;
   left: 0;
   border-radius: 50%;
   margin-top: 20px;

}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: rgb(90, 155, 216);
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
    
}

.menu a {
    padding: 10px 20px;
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    transition: background-color, color, 2s, 1s;
}

.menu a:hover{
    background-color: white;
    color: teal;
    border-radius: 10%;
    text-shadow: 0px 0px 10px gray;
}

.menu li {
    list-style: none;
}
.menu ul {
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: whitesmoke;
}
a:hover {
    text-decoration:underline;
   
}

.titulo {
    transform: scale(0.2) translateY(-20vh);
    opacity: 0;
    animation: linear 2s animacaoTitulo forwards;
}

@keyframes animacaoTitulo{
    100%{
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}

.titulo:hover{

}

.site-subtitle,
.site-title {
    text-align: center;
    color: whitesmoke;
    

}

.site-title {
    font-size: 16mm;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1.5em;
}

.site-subtitle {
    font-style: italic;
    font-family: 'Roboto Condensed', sans-serif;

}

.sobre,
.contato,
.cursos {
    padding: 2em;
    min-height: 100vh;
}

.cursos .grid {
    display: grid;
    gap: 1.5em;
}

@media(min-width:560px){
    .cursos .grid {
        display: grid;
        gap: 1.5em;
        grid-template-columns: 240px 240px;
        justify-content: center;
     }
 }

 @media(min-width: 880px){
    .cursos .grid {
        display: grid;
        gap: 1.5em;
        align-content: center;
        grid-template-columns: repeat(3, 240px);
        justify-content: center;
     }
 }

.cursos figure{
    text-align: center;
}



.sobre p{
    color:whitesmoke;
    text-indent: 1.4em;
    text-align: justify;
    font-size: 0.6em;
}

.sobre a{
    color: black;
}

.sobre,
.contato,
.cursos h2 {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    margin-bottom: 1.5em ;
    font-size: 2em;
    text-align: center;
}


.img-portfolio {
    height: 100px;
    width: 150px;
    object-fit: contain;
    object-position: left;
    transition: transform 500ms;
    
}

.img-portfolio:hover {
    transform: scale(1.5);
    
}

.anim{
    transition: transform 500ms;
}

.anim:hover{
    transform:scale(1.5);
}

.contato a {
    color: whitesmoke;
    font-size: 1.5em;
    transition: text-shadow, 1s;
}

.contato .icons{
    text-align: center;
    padding: 15px;
    
}

.contato h2{
    font-size: 1em;
}

.contato a:active,
.contato a:hover{
    text-decoration: none;
    text-shadow: 0px 0px 10px gray;
    opacity: 50%;
}